@model SwamiSamarthSyn8.Models.PassvalueReg
@{
    ViewBag.Title = "EditRegistartionForm";
    string msg = ViewBag.userpresent != null ? ViewBag.userpresent : "";
    string stt = Model.state != null ? Model.state.Replace("&amp;", "&") : "";
    string cityFromModel = Model.city.Replace("&amp;", "&");

}
<style>
    .btn-success {
        display: inline-block;
        padding: 10px 30px;
        background-color: #4caf50;
        color: white;
        text-decoration: none;
        border-radius: 4px;
        font-size: 16px;
        transition: background-color 0.3s ease;
        cursor: pointer;
        text-align: center
    }

    .row {
        margin-bottom: 10px;
        font-family: Cambria;
        font-size: initial;
        font-display: block;
        /* text-align:center;*/
    }

    label {
        font-weight: 300;
        font-size: 12px;
        color: #555;
    }
</style>


<h2 style="text-align: center; color: #007BFF; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">REGISTRATION FORM</h2>



@using (Html.BeginForm("EditRegistartionForm", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <form id="myfrm">
        <div class="row">
            <div class="form-group col-md-3">
                <label for="company_name" style="font-family:10px;">COMPANY NAME</label>
                <label id="validcompnayname" style="color:red;display:none;font-weight:bold">*</label>
                @Html.TextBoxFor(a => a.company_name, new { @class = "form-control" })

            </div>
            <div class="form-group col-md-3">
                <label for="contact_person">CONTACT PERSON</label>
                <label id="validcontactperson" style="color:red;display:none;font-weight:bold">*</label>
                @Html.TextBoxFor(model => model.contact_person, new { @class = "form-control" })

            </div>
            <div class="form-group col-md-3">
                <label for="designation">EMAILID</label>
                <label id="validdesignation" style="color:red;display:none;font-weight:bold">*</label>
                @Html.TextBoxFor(model => model.email_id, new { @class = "form-control" })
            </div>
            <div class="form-group col-md-3">
                <label for="designation">CONTACTNO</label>
                <label id="validdesignation" style="color:red;display:none;font-weight:bold">*</label>
                @Html.TextBoxFor(model => model.contact_no, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="company_name">GST NO</label>
                <label id="validcompnayname" style="color:red;display:none;font-weight:bold">*</label>
                @Html.TextBoxFor(a => a.gst_no, new { @class = "form-control" })

            </div>
            <div class="col-md-3">
                <label for="country1"><b>COUNTRY</b></label>
                <label id="validcountry" style="color:red;display:none;font-weight:bold">*</label>
                <select name="country1" id="country1" class="form-control" onchange="SelectedTextValue13(this)">
                    <option selected="selected" value=""></option>
                </select>
                @Html.HiddenFor(model => model.country, new { @class = "form-control" })
            </div>
            <div class="col-md-3" style="margin-bottom:10px">
                <label for="state"><b>STATE</b></label>
                <label id="validstate" style="color:red;display:none;font-weight:bold">*</label>
                <select name="State_Province" id="State_Province" onchange="SelectedTextValue14(this)" class="form-control">
                    <option selected="selected" value=""></option>
                </select>
                @*<input type="text" id="txtcontent14" name="txtcontent14" hidden />*@
                @Html.HiddenFor(model => model.state, new { @class = "form-control" })
            </div>
            <div class="col-md-3" style="margin-bottom:10px">
                <label for="city">CITY</label>
                <label id="validcity" style="color:red;display:none;font-weight:bold">*</label>
                <select name="city" id="city" onchange="SelectedTextValue15(this)" class="form-control">
                    <option selected="selected" value=""></option>
                </select>
                @*<input type="text" id="city" name="txtcontent15" hidden />*@
                @Html.HiddenFor(model => model.city, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" style="margin-bottom:10px">
                <label for="industry"><b>INDUSTRY</b></label>
                <label id="validindustry" style="color:red;display:none;font-weight:bold">*</label>
                <select name="industrySel" id="industrySel"
                        onchange="SelectedTextValue4(this)" class="form-control">
                    <option selected="selected" hidden></option>
                </select>

                @Html.HiddenFor(model => model.industry, new { @class = "form-control" })

                @*@Html.TextBoxFor(model => model.indurstry, new { @class = "form-control" })*@


            </div>
            <div class="col-md-3" style="margin-bottom:10px">
                <label for="category"><b>CATEGORY</b></label>
                <label id="validcategory" style="color:red;display:none;font-weight:bold">*</label>
                <select name="category" id="category" onchange="SelectedTextValue7(this)" class="form-control">

                    <option selected="selected"></option>
                </select>
                @*<input type="text" id="txtcontent11" name="txtcontent11" hidden />*@
                @Html.HiddenFor(model => model.industry_category, new { @class = "form-control" })

            </div>
            <div class="col-md-4">
                <label for="sub_category"><b>SUB CATEGORY</b></label>
                <label id="validsubcategory" style="color:red;display:none;font-weight:bold">*</label>
                <select name="sub_category" id="sub_category" onchange="SelectedTextValue6(this)" class="form-control">
                    <option selected="selected" value=""></option>
                </select>
                @*<input type="text" id="txtcontent12" name="txtcontent12" hidden />*@
                @Html.HiddenFor(model => model.industry_subcategory, new { @class = "form-control" })
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label for="company_name">PASSWORD</label>
                <label id="validpassword" style="color:red;display:none;font-weight:bold">*</label>
                @Html.TextBoxFor(a => a.password, new { @class = "form-control" })

            </div>

            <div class="form-group col-md-3">
                <label for="company_name">COMFIRM PASSWORD</label>
                <label id="validcompfirmpassword" style="color:red;display:none;font-weight:bold">*</label>
                @Html.TextBoxFor(a => a.comfirmpassword, new { @class = "form-control" })

            </div>
        </div>
        <div class="col-md-6">
            <label id="lblpassword" style="color:red;"></label>
        </div>
        <div class="row">
            <div style="text-align:center">
                <label id="lblerr" style="color:red;">@msg</label>
            </div>
        </div>
        <div class="row">
            <div style="padding-left:450px">
                <input type="submit" class="btn-success" value="Submit" onclick="btnSubmit()" />
            </div>
        </div>
    </form>
    <script src="~/Scripts/ExternalForm.js"></script>

    <script type="text/javascript">
            function btnSubmit() {
                var flag = 0;

                if ($("#password").val() === "") {
                    $('#validpassword').show();
                    flag++;
                }

                if ($("#confirmPassword").val() === "") {
                    $('#validcompfirmpassword').show();
                    flag++;
                }

                var password = $("#password").val();
                if (password !== "" && typeof (password) !== 'undefined') {
                    if (password.length < 8 || password.search(/[a-z]/) < 0 || password.search(/[A-Z]/) < 0 || password.search(/[0-9]/) < 0) {
                        $('#lblpassword').html("Password Must be at least 8 characters<br/>Password must contain at least one lowercase letter<br/>Password must contain at least one uppercase letter<br/>Password must contain at least one number<br/>");
                        flag++;
                    }

                    if ($("#confirmPassword").val() !== password) {
                        flag++;
                        $('#lblpassword').text("Password and Confirm Password must be the same.");
                    }
                }

                if (flag === 0) {
                    $('#lblpassword').text('');
                    // Submit the form
                    $('#myfrm').submit();
                }
            }

             var state = "@stt";
        var city_ = "@cityFromModel";
        state = state.replace(/&amp;/g, '&');
        city_ = city_.replace(/&amp;/g, '&');
        $('#country1 option:contains("@Model.country")').each(function () {
            if ($(this).text() == "@Model.country") {
                $(this).attr('selected', 'selected');
                setStateDropdowns();
                return false;
            }
            return true;
        });
        $('#State_Province option:contains(' + state + ')').each(function () {
            if ($(this).text() == state) {
                $(this).attr('selected', 'selected');
                setCityDropdown();
                return false;
            }
            return true;
        });
        $('#city option:contains(' + city_ + ')').each(function () {
            if ($(this).text() == city_) {
                $(this).attr('selected', 'selected');
                 return false;
            }
           return true;
        });

        var category = "@Model.industry_category";
        var subCat = "@Model.industry_subcategory";
        category = category.replace(/&amp;/g, '&');
        subCat = subCat.replace(/&amp;/g, '&');
        $('#industrySel option:contains("@Model.industry")').each(function () {
            if ($(this).text() == "@Model.industry") {
                $(this).attr('selected', 'selected');
                setIndustryCategory();
                return false;
            }
            return true;
        });
        $('#category option:contains(' + category + ')').each(function () {
            if ($(this).text() == category) {
                $(this).attr('selected', 'selected');
                setsubCategory();
                return false;
            }
            return true;
        });
        $('#sub_category option:contains(' + subCat + ')').each(function () {
            if ($(this).text() == subCat) {
                $(this).attr('selected', 'selected');
               return false;
            }
            return true;
        });
    </script>
}
